{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Freelance Site</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
    text-align: center; 
  }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Freelance Site</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'freelance' %}">Create Profile</a></li>
      
    </ul>
    <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
      <li><span class="hello-msg">Hello, {{request.user}}</span></li>
      <li><a href="{% url 'logout' %}" ><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
      {% endif %}
    </ul>
  </div>
</nav>


</body>
</html>
